@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 5rem;
  font-family: "poppins", sans-serif;
  background: #23232a;
  -webkit-transition: .5s;
  transition: .5s;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

a {
  text-decoration: none;
}





/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: #2b2b32;
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}





.nav__toggle {
  position: absolute;
  top: 1.2rem;
  right: -2.2rem;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  font-size: 1.25rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.show {
  width: 250px;
}




.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
  padding-left: 275px;
  margin-top: 2rem;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}






.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3rem;
  padding: 0 .5rem;
}




.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #12192C;
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #fff;
}

.nav__logo-icon {
  margin-right: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
}


.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #12192C;
}

/*After JS Update*/
.nav__logo-text {
  color: #fff;
  font-weight: 700;
}

.nav__text {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
